<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../../assests/lib/jquery-3.6.0.min_2.js"> 
</script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> -->
<!-- <script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')
    
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
</script> -->
</body>
</html>